<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Username: <span class="userid"></span></p>
    <p><span class="round"></span>  <span class="straight-win-num"></span></p>
    <div class="container">
      <div class="upper-panel">
        <div class="panel1">1</div>
        <div class="panel2">2</div>
        <div class="panel3">3</div>
      </div>
      <div class="lower-panel">
        <div class="panel4">4</div>
        <div class="panel5">5</div>
        <div class="panel6">6</div>
      </div>
      <div class="answer"></div>
      <div class="pickup"></div>
      <h3>PK成功者</h3>
      <div class="success-log">
        <ul>
        </ul> 
      </div>
      <h3>PK失敗者</h3>
      <div class="failure-log">
        <ul>
        </ul> 
      </div>
      <h3>行動ログ</h3>
      <div class="action-log">
        <ul>
        </ul> 
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
