<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><span class="userid"></span> san Welcome</p>
    <div class="container">
      <div class="upper-panel">
        <div class="panel1">1</div>
        <div class="panel2">2</div>
        <div class="panel3">3</div>
      </div>
      <div class="lower-panel">
        <div class="panel4">4</div>
        <div class="panel5">5</div>
        <div class="panel6">6</div>
      </div>
      <div class="answer"></div>
      <div class="action-log">
        <ul>
        </ul> 
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
