body {
  padding: 5px 20px 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 0px;
}

.container {
  width: 500px;
}

.upper-panel {
  overflow: hidden;
}

.panel1, .panel2, .panel3 {
  float: left;
  cursor:pointer;
}
.panel1 {
  padding: 30px 50px 30px 50px;
  background-color: #FFD700;
}
.panel2 {
  padding: 30px 50px 30px 50px;
  background-color: #FF8C00;
}
.panel3 {
  padding: 30px 50px 30px 50px;
  background-color: #FFFF00;
}
.lower-panel {
  overflow: hidden;
  margin: 0 auto 10px auto;
}

.panel4, .panel5, .panel6 {
  float: left;
  cursor:pointer;
}
.panel4 {
  padding: 30px 50px 30px 50px;
  background-color: #ADFF2F;
}
.panel5 {
  padding: 30px 50px 30px 50px;
  background-color: #1E90FF;
}
.panel6 {
  padding: 30px 50px 30px 50px;
  background-color: #00FF00;
}
.answer {
  height: 25px;
}
.pickup {
  height: 20px;
}

.action-log {
  height: 50px;
  overflow-y: scroll;
}
.userid {
  color: #ff1493;
}
.success-log {
  height: 50px;
  overflow-y: scroll;
}
.failure-log {
  height: 50px;
  overflow-y: scroll;
}
